body{
    font:1em system-ui;
    background-color: #d3e6e6;
}
.card{
    background-color: #fff;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 25px 25px 25px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "header header header"
    "main main main"
    "amenities amenities amenities"
    "footer footer footer";
    box-shadow: 0 0 0.5em black;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    width: 40rem;
    gap: 1rem;
}
.photo{
    box-sizing: border-box;
    border-radius: 12px;
    max-width: 100%;
    grid-area: header;
}


