
body{
    font:0.8rem system-ui;
    background-color: rgb(215, 221, 221);
    margin: 0;
}
.card{
    background-color:#fff;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 
                        1fr
                        1fr
                        4em
                        1fr;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
    margin:1rem 1rem;
    margin-top: 30vh;
    margin-left: 5vh;
    margin-right: auto;
    width:20rem;
    height:30rem;
    border-radius:12px;
    box-shadow: 0 0 0.5em #333;
    box-sizing: border-box;
}
.photo{
    max-width: 100%;
    border-radius: 12px 12px 0 0;
    box-sizing: border-box;   
    grid-area: a; 
    margin-bottom: 0;
}
.description{
    grid-area: b;
}
.caption{
    margin-left: 1rem;
    color: rgb(54, 54, 54);
    font-weight: 700;
}
.price{
    margin-left: 1rem;
    font-size: x-large;
    color: rgb(0, 0, 0);
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}
.address{
    margin-left: 1rem;
    color: rgb(73, 73, 73);
    margin-bottom: 0;
    padding-bottom: 0;
}
.middlebar{
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    border: 1px solid rgb(192, 192, 192);
    border-left: none;
    border-right: none;
}
.logo{
    display:block;
    /* vertical-align: middle;    */
    width: 2em;
    height: 1.5em;
}
ul{
    display: flex;
    flex-direction: row;
    grid-area: c;
    list-style-type:none;
    gap: 0.5em;
}
.info{
    display: flex;
    gap: 0.4em;
}
.type{
    color: rgb(73, 73, 73);
}
.quantity{
    font-weight: bold;
}
.realtor{
    grid-area: d;
    /* border: 0.1em solid black; */
    box-sizing: border-box;
    max-height: 9em;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 
                        auto
                        1fr
                        1fr;
    grid-template-areas: 
    "ti     ti      ti"
    "pic    na      bt"
    "pic    nu      bt";
}
.title{
    color: gray;
    font-weight: bold;
    margin: 0 1rem;
    grid-area: ti;
}
.realtorbar{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
    border-radius: 0 0 12px 12px;
    margin-left: 0;
    padding-left: 0;
}
.profile{
    min-width: 5em;
    height: 5em;
    margin: 1rem 1rem;
    border-radius: 50%;
    object-fit: cover;
    grid-area: pic;
}
/* .contact{
    display: flex;
    flex-direction: row;
    gap:1em
} */
.name{
    font-weight: bold;
    grid-area: na;
}
.number{
    color: gray;
    grid-area: nu;
}
button{
    grid-area: bt;
    border-radius: 13px;
    border: none;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 0.5em;
}



